<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>

	{# Google Fonts #}
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">

	{# nas vlastni CSS styl #}
	<link rel="stylesheet" href="/assets/css/style.css">

	{#
		JavaScript pro Glide.js slider/carusel
		pravdepodobne by nam stacil pouze na uvodni strance, ale nebudeme
		si to tim ted komplikovat a nechame ho zde (=bude ve vsech strankach)
	#}
	<link rel="stylesheet" href="/assets/css/glide.core.min.css">
	{# <link rel="stylesheet" href="/assets/css/glide.theme.min.css"> #}

</head>